//Homepage
.page-impacting-employers
  background: linear-gradient(180deg, #5A9460 9.5%, rgba(156, 199, 242, 0.96) 53%, rgba(242, 233, 63, 0.66) 100%); //TODO pas tout à fait les bonnes couleurs
  color: #271A38
  h1
    color: #271A38
  h2
    color: #FFFFFF
  header.hero
    background: none
    .container
      .content
        display: block;
        justify-content: center !important
        padding-top: 0px
        figure
          margin-right: -4rem
          margin-left: -4rem
          width: 100%
      
  .document-content
    .blocks
      display: flex
      flex-wrap: wrap
      row-gap: 2rem
      .container
        width: 100%
        .text
          width: 100%
      .block:nth-child(3),
      .block:nth-child(4),
      .block:nth-child(6),
      .block:nth-child(8),
      .block:nth-child(9)
        width: 49%;
        display: inline-flex
        align-content: space-between
        flex-wrap: wrap
        align-items: start
      .heading.container:first-child,
      .heading.container:nth-child(7),
      .heading.container:nth-child(10)
        margin-bottom: 0px
        h2
          width: 100%
          font-size: 4rem;
          font-weight: 230;
          line-height: 120%;
          border-top: 0.0625rem solid #271A38
          border-bottom: 0.0625rem solid #271A38
          padding-top: 2.7rem
          padding-bottom: 2.7rem
          text-transform: uppercase
      .block:nth-child(2),
      .block:nth-child(8)
        font-size: 2rem
        font-weight: 230
        line-height: 160%
      .block:nth-child(5)
        ul
          border-top: 0.0625rem solid #000
          border-bottom: 0.0625rem solid #000
          li
            padding-right: 2rem
            padding-top: 2.7rem
            padding-bottom: 2.7rem
            &:not(:last-child)
              border-right: 0.0625rem solid #000
        dl
          img
            margin: 0px auto 3rem auto
          dt, dt strong
            text-align: center
            font-size: 3rem
            font-weight: 400
            line-height: 120%
          dd 
            text-align: center
      .block:nth-child(6)
        &:after
          background-image: url('/assets/images/right_white_cloud.svg');
          content: ""
          z-index: 0
          position: absolute
          pointer-events: none
          background-size: 100%
          background-repeat: no-repeat
          background-attachment: scroll
          width: 30rem
          height: 10rem
          right: -13%
      .heading.container:nth-child(7),
      .heading.container:nth-child(10)
        h2
          color: #5A9460
      .block:nth-child(8)
        .rich-text
          &:after
            background-image: url('/assets/images/white_cloud.svg');
            content: ""
            z-index: 0
            position: absolute
            pointer-events: none
            background-size: 100%
            background-repeat: no-repeat
            background-attachment: scroll
            width: 46rem
            height: 14rem
            left: -13%
            margin-top: 8rem
      .block:nth-child(9)
        .notes p
          color: #000
          font-size: 1rem;
          font-weight: 400;
          line-height: 100%;
  


//1 - Titre - Fostering diversity in the workplace
//2 - The OpenClassrooms mission is two-fold
//3 - This also yields benefits for employers.
//4 - In early 2023
//5 - 30 % 55%
//6 - This data provided us with meaningful insights
//7 - Titre - Easy access to a rich talent pool
//8 - In recent years
//9 - While the apprenticeship model itself
//10 - Titre - Easy and quick access to the right skills