/*** Impacting our community ***/
.page-impacting-our-community
  background: linear-gradient(180deg, rgba(237, 179, 178, 0.2) 0%, rgba(242, 224, 63, 0.2) 100%);
  color: #271A38
  h1
    color: #271A38
    margin-bottom: 8rem
  h2
    color: #E0474A
  header.hero
    background: none
    .container
      .content
        display: block
        justify-content: center !important
        padding-top: 0px
        figure
          margin: auto
          width: 100%
        .hero-text
          margin-top: 0px
          width: 100%

  .document-content
    .blocks
      display: grid
      grid-template-columns: repeat(2, 50%)
      gap: 0
      width: 100%
      max-width: 100%
      .container
        width: 100%
        max-width: 100%
      .block:first-child,
      .heading.container:nth-child(5),
      .block:nth-child(6),
      .block:nth-child(9),
      .block:nth-child(10),
      .block:nth-child(11),
      .block:nth-child(12),
      .block:nth-child(13),
      .block:nth-child(14),
      .block:nth-child(18),
      .heading.container:nth-child(19),
      .block:nth-child(20),
      .block:nth-child(21),
      .heading.container:nth-child(22),
      .block:nth-child(23),
      .block:nth-child(26),
      .block:nth-child(27),
      .block:nth-child(28),
      .block:nth-child(31)
        grid-column: 1 / 3
      .block:nth-child(2),
      .block:nth-child(7),
      .block:nth-child(15),
      .block:nth-child(24),
      .block:nth-child(29)
        grid-column: 1
      .block:nth-child(4),
      .block:nth-child(8),
      .block:nth-child(16),
      .block:nth-child(25),
      .block:nth-child(30)
        grid-column: 2
      .block:first-child,
      .block:nth-child(15),
      .block:nth-child(29)
        font-size: 2rem
        font-weight: 230
        line-height: 160%
      .block:first-child
        .text
          width: 100%
      .block:nth-child(2)
        grid-row: 2 / 4
        padding-bottom: 8rem
      .block:nth-child(3)
        margin-right: -26%
        margin-left: 33%
        align-self: center
      .block:nth-child(4)
        align-self: end
      .heading.container:nth-child(5),
      .heading.container:nth-child(19),
      .heading.container:nth-child(22)
        h2
          width: 100%
          border-top: 0.0625rem solid #271A38
          border-bottom: 0.0625rem solid #271A38
          padding-top: 2.7rem
          padding-bottom: 2.7rem
          text-transform: uppercase
          text-align: center
      .heading.container:nth-child(5)
        margin-top: 6rem !important
      .block:nth-child(6),
      .block:nth-child(23)
        font-size: 2rem
        line-height: 140%
        text-transform: uppercase
        margin-top: 0.5rem
        margin-bottom: 0px
        .block-content
          border-bottom: 0.0625rem solid #271A38
          padding-bottom: 2rem
          .text
            width: 100%
            text-align: center
      .block:nth-child(7),
      .block:nth-child(8),
      .block:nth-child(24),
      .block:nth-child(25)      
        text-transform: uppercase
        margin-top: 0px
        margin-bottom: 0px
        border-bottom: 0.0625rem solid #271A38
        .container
          height: 100%
          .block-content
            padding-bottom: 1.7rem
            padding-top: 1rem
            height: 100%
            .chapter
              height: 100%
              align-items: center
              .text 
                b
                  font-weight: 400
                  font-size: 3rem
                  line-height: 120%
                p
                  margin-top: 1rem
      .block:nth-child(7),
      .block:nth-child(24)
        border-right: 0.0625rem solid #271A38
        margin-left: var(--grid-gutter)
        .container
          padding-left: 0px
          margin-left: 0px
      .block:nth-child(8),
      .block:nth-child(25)
        margin-right: var(--grid-gutter)
        .container
          padding-left: 0px
          margin-left: 0px
          padding-right: 0px
          margin-right: 0px
          .block-content
            padding-left: 1.7rem
      .block:nth-child(9),
      .block:nth-child(10),
      .block:nth-child(11),
      .block:nth-child(12),
      .block:nth-child(26),
      .block:nth-child(27),
      .block:nth-child(28)
        margin-top: 0px
        margin-bottom: 0px
        padding-top: 2rem
        text-transform: uppercase
        .block-content
          border-bottom: 0.0625rem solid #271A38
          padding-bottom: 2rem
        .text 
          b
            font-weight: 400
            font-size: 2rem
            line-height: 140%
          p
            margin-top: 0rem
      .block:nth-child(13)
        .text 
          .rich-text
            font-size: 1rem
            line-height: 100%
          p
            margin-top: 0px
      .block:nth-child(14)
        width: 50%
      .block:nth-child(15),
      .block:nth-child(16),
      .block:nth-child(17),
      .block:nth-child(18),
      .block:nth-child(29),
      .block:nth-child(30),
      .block:nth-child(31)
        color: #E0474A
      .block:nth-child(15),
      .block:nth-child(29)
        h3.block-title
          font-size: 2rem
          font-weight: 400
          line-height: 120%
          text-decoration-line: underline
          text-transform: uppercase
      .block:nth-child(15)
        margin-top: 6rem
      .block:nth-child(16)
        margin-top: calc(6rem + 15%)
        grid-row: 13 / 15
      .block:nth-child(17)
        margin-left: -19%
        margin-bottom: 0px
        padding-bottom: 0px
        figure
          a.glightbox
            width: 100%
            margin: 0px
      .block:nth-child(18),
      .block:nth-child(31)
        .top
          border-bottom: 0.0625rem solid #E0474A
          padding-bottom: 1.7rem
          margin-bottom: 0px
          h3.block-title
            font-size: 2rem
            font-weight: 400
            line-height: 140%
            text-transform: uppercase
        table
          td
            border-top: 0.0625rem solid #E0474A
          tr:last-child td
            border-bottom: 0.0625rem solid #E0474A
          td, th
            padding-top: 1.7rem
            padding-bottom: 1.7rem
          th
            font-weight: 400
            font-size: 1.375rem
          td:nth-child(2), th:nth-child(2)
            padding-left: 10%
      .block:nth-child(18)
        margin-top: 6rem
        margin-bottom: 6rem
      .heading.container:nth-child(19)
        margin-bottom: 0px
      .block:nth-child(20)
        margin: auto
        width: 70%
        border-left: 0.0625rem solid #271A38
        border-right: 0.0625rem solid #271A38
        border-bottom: 0.0625rem solid #271A38
        padding: 2rem
        figure
          display: flex
          flex-direction: column-reverse
          padding-right: 0px
          figcaption p
            color: #E0474A
            .signature
              font-weight: 600
          blockquote
            margin-top: 2rem
            p
              font-style: normal
              font-weight: 230
              line-height: 160%
              font-size: 2rem
      .block:nth-child(21)
        margin-right: -13%
        margin-bottom: 0px
        padding-bottom: 0px
        figure
          a.glightbox
            width: 100%
            margin: 0px
      .heading.container:nth-child(22)
        margin-top: 0px !important
      .block:nth-child(29)
        margin-top: 8rem
      .block:nth-child(30)
        margin-top: calc(8rem + 15%)
      .block:nth-child(31)
        margin-top: 6rem
        margin-bottom: 12rem



//1 - Education is often regarded as a crucial investment
//2 - In order to build an initial version of our impact formula
//3 - Image - Full Right White Cloud
//4 - We recognize that the results of our formula
//6 - Titre - Unemployed students
//6 - Over the past 3 years
//7 - 9,120
//8 - 3,648
//9 - €103.5
//10 - €27,617
//11 - €6.8
//12 - €55.6
//13 - * Assuming a yearly tax collection of 1862€
//14 - In France, funding for training programs comes
//15 - Our analysis Upon initial examination
//16 - We acknowledge that this initial analysis requires refinement
//17 - Image - Full Left White Cloud
//18 - Tableau 1
//19 - Titre - Testimony
//20 - Témoignage
//21 - Image arbre
//22 - Titre - Apprenticeship students
//23 - Over the past 3 years
//24 - 1,927 graduates
//25 - 1,561
//26 - €49
//27 - 31,223
//28 - €12,000
//29 - Our analysis 81% of our apprentices graduates
//30 - This statistic demonstrates that apprenticeships
//31 - Tableau 2