//Impacting Employers
.page-impacting-employers
  background: linear-gradient(180deg, #5A9460 9.5%, rgba(156, 199, 242, 0.96) 53%, rgba(242, 233, 63, 0.66) 100%)
  color: #271A38
  h1
    color: #271A38
  h2
    color: #FFFFFF
  .document-content
    .blocks
      .heading.container:first-child,
      .heading.container:nth-child(7),
      .heading.container:nth-child(10),
      .heading.container:nth-child(14)
        h2
          font-size: var(--h2-size)
          font-weight: 230
          line-height: 120%
          border-color: #271A38
          text-transform: uppercase
      .block:nth-child(2),
      .block:nth-child(8),
      .block:nth-child(11),
      .block:nth-child(15)
        font-size: var(--lead-size)
        line-height: 160%
      .block:nth-child(2)
        .text
          width: 100%
      .block:nth-child(5)
        ul
          grid-gap: 0
          li
            text-align: center
            margin-top: 0px
            span
              &, strong
                text-align: center
                font-size: 3rem
                font-weight: 400
                line-height: 120%
              img
                margin: 0px auto 3rem auto
      .block:nth-child(6)
        &:after
          background-image: url(/assets/images/right_white_cloud.svg)
          content: ""
          position: absolute
          pointer-events: none
          background-size: 100%
          background-repeat: no-repeat
          background-attachment: scroll
          width: 480px
          height: 152px
          right: 0
          margin-top: -7rem
      .heading.container:nth-child(7),
      .heading.container:nth-child(10),
      .heading.container:nth-child(14)
        h2
          color: #5A9460
      .block:nth-child(8)
        &:after
          content: ""
          background-image: url(/assets/images/left_white_cloud.svg)
          position: absolute
          pointer-events: none
          background-size: 100%
          background-repeat: no-repeat
          width: 704px
          height: 185px
          left: -12.5%
          margin-top: 7rem
      .block:nth-child(9)
        margin-bottom: 5rem
        .rich-text p
          margin-top: 0.7rem
        .notes
          margin-top: 3rem
          p
            font-size: 1rem
            line-height: 100%
      .block:nth-child(11)
        margin-bottom: 6rem
      .block:nth-child(12)
        grid-row: 9 / 11
        align-self: end
      .block:nth-child(13)
        display: flex
        ul
          display: block
          li
            display: block
            width: 100%
            text-transform: uppercase
            font-size: var(--body-size)
            font-weight: 400
            line-height: 160%
            span
              display: inline-flex
              width: 100%
              align-items: center
              justify-content: flex-start
              &, strong
                color: #5A9460
                font-size: var(--h2-size)
                font-weight: 230
                line-height: 120%
                min-width: auto !important
              picture
                margin-right: 4rem
                width: 128px
                height: 128px
      .heading.container:nth-child(14)
        margin-bottom: 0px
      .block:nth-child(15)
        margin-bottom: 0px
        .block-content  
          border-bottom: 0.0625rem solid #271A38
          padding-top: 2rem
          padding-bottom: 3.5rem
          .text
            width: 100%
      .block:nth-child(16),
      .block:nth-child(17)
        margin: auto
        width: 70%
        border-left: 0.0625rem solid #271A38
        border-right: 0.0625rem solid #271A38
        padding: 2rem
        padding-bottom: 8rem
        .testimonials
          width: 100%
          figure
            display: flex
            flex-direction: column-reverse
            padding-right: 0px
            padding-left: 0px
            width: 100%
            figcaption p
              color: #5A9460
              .signature
                font-weight: 600
            blockquote
              margin-top: 2rem
              p
                font-style: normal
                line-height: 160%
                font-size: var(--lead-size)
      .block:nth-child(17)
        border-top: 0.0625rem solid #271A38


  @include media-breakpoint-up(desktop)
    header.hero
      .container
        .content
          figure
            width: 100%
      
    .document-content
      .blocks
        .heading.container:first-child,
        .block:nth-child(2),
        .block:nth-child(5),
        .heading.container:nth-child(7),
        .heading.container:nth-child(10),
        .heading.container:nth-child(14),
        .block:nth-child(15),
        .block:nth-child(16),
        .block:nth-child(17)
          grid-column: 1 / 3
          max-width: 1200px
        .block:nth-child(3),
        .block:nth-child(6),
        .block:nth-child(8),
        .block:nth-child(9),
        .block:nth-child(11),
        .block:nth-child(13)
          grid-column: 1
          max-width: 600px
        .block:nth-child(4),
        .block:nth-child(9),
        .block:nth-child(12)
          grid-column: 2
          max-width: 600px
        .block:nth-child(5)
          margin-top: 6rem
          ul
            border-top: 0.0625rem solid #000
            border-bottom: 0.0625rem solid #000
            grid-gap: 0
            li
              padding-top: 4rem
              padding-bottom: 4rem
              &:not(:last-child)
                padding-right: 4rem
                border-right: 0.0625rem solid #000
              &:not(:first-child)
                padding-left: 4rem
              span
                &,strong
                  font-size: 3rem
                img
                  margin: 0px auto 3rem auto      
        .block:nth-child(6)
          padding-bottom: 6rem

  @include media-breakpoint-down(desktop)
    .document-content
      .blocks
        .block:nth-child(5)
          margin-top: 4rem
          ul
            li
              margin-bottom: 4rem
              span
                &, strong
                  font-size: var(--lead-size)
                picture
                  img
                    max-width: 8rem
                    margin: 0px auto 1rem auto
        .block:nth-child(6)
          width: 50%
          padding-bottom: 2rem
          &:after
            height: 110.7px
            width: 350px
        .block:nth-child(8)
          padding-bottom: 7rem
          &:after
            width: 352px
            height: 92.5px
            left: 0
            margin-top: 2rem 
        .block:nth-child(11)
          margin-bottom: 3rem
        .block:nth-child(13)
          ul 
            li 
              span 
                picture
                  margin-right: 2rem
                  img
                    max-width: 8rem
        .block:nth-child(16),
        .block:nth-child(17)
          width: 80%
          padding: 0 0 4rem 0
          blockquote
            margin-top: 1rem

  @include media-breakpoint-down(sm)
    .document-content
      .blocks
        .block:nth-child(6)
          padding-bottom: 8rem
          width: 100%
          &:after
            margin-top: 1rem
        .block:nth-child(8)
          &:after
            left: 0
            margin-top: 2rem

//1 - Titre - Fostering diversity in the workplace
//2 - The OpenClassrooms mission is two-fold
//3 - This also yields benefits for employers.
//4 - In early 2023
//5 - 30 % 55%
//6 - This data provided us with meaningful insights
//7 - Titre - Easy access to a rich talent pool
//8 - In recent years
//9 - While the apprenticeship model itself
//10 - Titre - Easy and quick access to the right skills
//11 - Offering an easy and straightforward access
//12 - In that perspective, OpenClassrooms advocates
//13 - 84%
//14 - Titre - Testimony
//15 - Discover the inspiring
//16 - Testimony 1
//17 - Testimony 2