/*** Homepage ***/
.page-impacting-students
  background: linear-gradient(180deg, #F69790 0%, rgba(138, 118, 232, 0.41) 38%, #EDB7B2 63.5%, rgba(255, 123, 109, 0.85) 100%)
  color: #271A38
  h1
    color: #271A38
  h2
    color: #FFFFFF
  header.hero
    background: none
    .container
      .content
        display: flex
        flex-direction: column-reverse
        padding-top: 0px
        figure
          margin: auto
          width: 90%
        .hero-text
          margin-top: 0px

  .document-content
    .blocks
      display: grid
      grid-template-columns: repeat(2, 50%)
      gap: 0
      width: 100%
      max-width: 100%
      .container
        width: 100%
        max-width: 100%
      .block:first-child,
      .heading.container:nth-child(2),
      .block:nth-child(5),
      .block:nth-child(6),
      .block:nth-child(7),
      .heading.container:nth-child(12),
      .block:nth-child(15),
      .block:nth-child(16),
      .heading.container:nth-child(17),
      .block:nth-child(18),
      .heading.container:nth-child(21),
      .block:nth-child(22),
      .block:nth-child(23),
      .block:nth-child(24),
      .block:nth-child(25),
      .block:nth-child(26),
      .block:nth-child(27),
      .block:nth-child(28),
      .block:nth-child(29),
      .block:nth-child(30),
      .block:nth-child(35),
      .heading.container:nth-child(36),
      .block:nth-child(38),
      .block:nth-child(39)
        grid-column: 1 / 3
      .block:nth-child(3),
      .block:nth-child(8),
      .block:nth-child(10),
      .block:nth-child(13),
      .block:nth-child(19),
      .block:nth-child(31)
        grid-column: 1
      .block:nth-child(4),
      .block:nth-child(9),
      .block:nth-child(11),
      .block:nth-child(14),
      .block:nth-child(20),
      .block:nth-child(34)
        grid-column: 2
      .block:nth-child(32),
      .block:nth-child(33)
        grid-column: 2
        grid-row: 26
      .block:nth-child(31)
        grid-row: 26 / 28
      .block:first-child,
      .block:nth-child(3),
      .block:nth-child(13),
      .block:nth-child(18)
        font-size: 2rem
        font-weight: 230
        line-height: 160%
      .block:first-child,
      .block:nth-child(18),
      .block:nth-child(22)
        .text
          width: 100%
      .heading.container:nth-child(2),
      .heading.container:nth-child(12),
      .heading.container:nth-child(17),
      .heading.container:nth-child(21),
      .heading.container:nth-child(36)
        h2
          width: 100%
          line-height: 100%
          border-top: 0.0625rem solid #271A38
          border-bottom: 0.0625rem solid #271A38
          padding-top: 2.7rem
          padding-bottom: 2.7rem
          text-transform: uppercase
      .block:nth-child(4),
      .block:nth-child(14)
        margin-top: 40%
        .notes *
          font-size: 1.375rem
          font-weight: 400
          line-height: 160%
      .block:nth-child(5),
      .block:nth-child(6),
      .block:nth-child(7),
      .block:nth-child(23),
      .block:nth-child(24),
      .block:nth-child(25),
      .block:nth-child(26),
      .block:nth-child(27),
      .block:nth-child(28)
        width: 100%
        margin: auto
        .container
          width: 70%
          .top
            border-top: 0.0625rem solid #271A38
            border-bottom: 0.0625rem solid #271A38
            padding-top: 1rem
            padding-bottom: 1rem
            h3.block-title
              text-align: center
              font-size: 2rem
              font-weight: 400
              line-height: 140%
              text-transform: uppercase
          ul.even-items
            grid-template-columns: repeat(2, 1fr)
            margin-bottom: 0px
            margin-top: 0px
            li
              width: 100%
              padding-bottom: 3rem
              padding-top: 3rem
              text-align: center
              &:first-child
                border-right: 0.0625rem solid #271A38
          dl
            display: flex
            flex-direction: column-reverse
            dd 
              font-size: 1.375rem
              font-weight: 400
              line-height: 100%
              text-align: center
              margin-bottom: 2rem
            dt, dt strong
              color: #8A76E8
              font-size: 3rem
              font-weight: 400
              line-height: 120%
              text-transform: uppercase
              min-width: auto !important
            dt picture img
              margin-left: auto
              margin-right: auto
      .block:nth-child(7),
      .block:nth-child(28)
        .block-content
          border-bottom: 0.0625rem solid #271A38
      .block:nth-child(9)
        .rich-text
          font-size: 1rem
          font-weight: 400
          line-height: 160%
          b
            font-weight: 400
            text-decoration: underline
      .block:nth-child(10)
        margin-bottom: 0px !important
        .chapter
          display: block
          h3.block-title
            font-size: 2rem
            font-weight: 400
            line-height: 120%
            text-decoration-line: underline
            text-transform: uppercase
          .text
            width: 100%
      .block:nth-child(11)
        align-self: center
      .heading.container:nth-child(12),
      .heading.container:nth-child(17),
      .heading.container:nth-child(21)
        h2  
          color: #8A76E8
      .heading.container:nth-child(12)
        margin-top: 0px !important
      .block:nth-child(15)
        .block-content
          border-top: 0.0625rem solid #271A38
          border-bottom: 0.0625rem solid #271A38
          padding-top: 2.7rem
          padding-bottom: 2.7rem
          text-align: center
          .text
            width: 100%
            position: relative
            .rich-text
              font-size: 2rem
              font-weight: 400
              line-height: 140%
              text-transform: uppercase
              b
                font-weight: 100
                color: #8A76E8
                font-size: 15.625rem
                line-height: 110%
            &:after
              background-image: url('/assets/images/little_star.svg')
              content: ""
              z-index: 0
              position: absolute
              pointer-events: none
              background-size: 100%
              background-repeat: no-repeat
              background-attachment: scroll
              width: 2.875rem
              height: 3.5625rem
              right: 0
              bottom: 0
            &:before
              background-image: url('/assets/images/double_stars.svg')
              content: ""
              z-index: 0
              position: absolute
              pointer-events: none
              background-size: 100%
              background-repeat: no-repeat
              background-attachment: scroll
              width: 9.875rem
              height: 13.75rem
              top: 0
              left: 0
        figure
          width: 100%
      .block:nth-child(16)
        figure
          flex-direction: column
          align-items: center
          a.glightbox
            margin-left: 0px
            picture
              margin: auto
          figcaption
            width: 100%
            text-align: center
            font-size: 2rem
            font-weight: 400
            line-height: 140%
            text-transform: uppercase
            margin-bottom: 2rem
      .block:nth-child(20)
        display: flex
        ul
          display: block
          dl
            display: inline-flex
            display: grid
            grid-template-columns: calc(128px + 4rem) repeat(2, 1fr)
            grid-template-rows: repeat(3, 1fr)
            dt, dt strong
              color: #8A76E8
              min-width: auto !important
              font-size: 4rem
              font-weight: 230
              line-height: 120%
            picture
              margin-right: 4rem
              width: 128px
              height: 128px
            dt 
              display: inline-flex
              grid-column: 1 / 3
              grid-row: 1 / 3
            dd
              text-transform: uppercase
              grid-column: 2 / 4
              grid-row: 2 / 4
      .block:nth-child(22)
        font-size: 2rem
        font-weight: 400
        line-height: 160%
      .block:nth-child(29),
      .block:nth-child(30)
        .chapter
          justify-content: center
          .rich-text
            text-align: center
            padding-right: 3rem
            padding-left: 3rem
      .block:nth-child(30),
      .block:nth-child(31)
        .rich-text
          font-size: 2rem
          font-weight: 400
          line-height: 140%
          text-transform: uppercase
      .block:nth-child(31),
      .block:nth-child(32),
      .block:nth-child(33)
        border-top: 0.0625rem solid #271A38
        padding-top: 2.7rem
      .block:nth-child(31)
        border-right: 0.0625rem solid #271A38
        border-bottom: 0.0625rem solid #271A38
        padding-right: 1.7rem
        margin-left: var(--grid-gutter)
        .container
          padding-left: 0px
          .chapter
            flex-direction: column
            figure img
              margin-left: 4%
              margin-top: 15%
        .notes *
          font-size: 1.375rem
          line-height: 160%
        .notes, .text
          width: 100%
      .block:nth-child(32),
      .block:nth-child(33)
        padding-left: 1.7rem
        align-self: baseline
        width: calc(50% - (var(--grid-gutter) / 2))
        margin-right: var(--grid-gutter)
        .block-content
          text-align: center
          ul.odd-items
            display: block
            picture
              height: 147px
              display: flex
              margin-bottom: 2rem
              align-items: flex-end
              img
                margin-left: auto
                margin-right: auto
            dt, dt strong
              color: #FFF
              font-size: 3rem
              font-weight: 400
              line-height: 120%
              min-width: auto !important
      .block:nth-child(33)
        margin-left: calc(50% - (var(--grid-gutter) / 2))
      .block:nth-child(34)
        border-top: 0.0625rem solid #271A38
        border-bottom: 0.0625rem solid #271A38
        padding-top: 1.7rem
        padding-bottom: 1.7rem
        margin-right: var(--grid-gutter)
        .block-content
          text-align: center
          .rich-text
            text-transform: uppercase
            b
              font-size: 3rem
              line-height: 120%
              font-weight: 400
      .block:nth-child(35)
        margin-top: 0px
        .container
          .block-content
            border-bottom: 0.0625rem solid #271A38
          .top 
            border-bottom: 0.0625rem solid #271A38
            padding-bottom: 1.7rem
            text-align: center
            h3.block-title
              font-size: 2rem
              line-height: 140%
              font-weight: 400
          ul.even-items
            padding-left: 0px
            padding-right: 0px
            justify-items: center
            align-items: end
            grid-gap: 0px
            margin-top: 0px
            li
              padding-top: 2rem
              width: 100%
              dt, dt strong
                color: #FFF
                text-align: center
                font-size: 3rem
                font-weight: 400
                line-height: 120%
                min-width: auto !important
              dt strong
                margin-top: 2rem
                margin-bottom: 1.7rem
              picture img
                margin-left: auto
                margin-right: auto
              dd
                text-align: center
                border-top: 0.0625rem solid #271A38
                padding-top: 1rem
                padding-bottom: 1rem
              &:not(:last-child)
                border-right: 0.0625rem solid #271A38
    .heading.container:nth-child(36)
      margin-bottom: -1px
    .block:nth-child(37)
      margin: 0px
      padding: 0px
      .container
        margin: 0px
        padding: 0px
        .block-content
          position: absolute
          a.glightbox
            width: 100%
            img
              width: 54.5%
              position: absolute
              left: -25%
              margin-top: 31%
    .block:nth-child(38),
    .block:nth-child(39)
      margin: auto
      width: 70%
      border-left: 0.0625rem solid #271A38
      border-right: 0.0625rem solid #271A38
      padding: 2rem
      padding-bottom: 8rem
      figure
        display: flex
        flex-direction: column-reverse
        padding-right: 0px
        figcaption p
          color: #FFF
          .signature
            font-weight: 600
        blockquote
          margin-top: 2rem
          p
            font-style: normal
            font-weight: 230
            line-height: 160%
            font-size: 2rem
    .block:nth-child(38)
      border-top: 0.0625rem solid #271A38
      padding-bottom: 10rem
    .block:nth-child(39)
      border-top: 0.0625rem solid #271A38
      padding-bottom: 14rem
    
//1 - Having a positive impact on our students' lives
//2 - Titre - Breaking barriers to education
//3 - The barriers to education
//4 - For that reason, it’s important
//5 - 29% 9%
//6 - 41% 50%
//7 - 48% 45.7%
//8 - NB: the job placement rate indicates 
//9 - Orientation rate:Percentage of applicants
//10 - Analysis
//11 - This scenario raises additional
//12 - Titre - Career outcomes
//13 - Breaking barriers to education
//14 - We validate one positive career outcome
//15 - 52,330
//16 - Graph
//17 - Titre - Takeaways
//18 - In addition to helping our students
//19 - Furthermore, through our measurement
//20 - 81%
//21 - Titre - Demographics
//22 - While striving to enhance our impact
//23 - 68% 70%
//24 - 36% 31%
//25 - 0,6% 0,4%
//26 - 6% 9%
//27 - 6% 7%
//28 - 31% 37%
//29 - NB: many students belong to several categories
//30 - 73% of our students fit into
//31 - Meanwhile, we also broadened our international presence.
//32 - 10%
//33 - 18%
//34 - 222 countries
//35 - 82% 12% 3% 3%
//36 - Titre - Testimony
//37 - Image before testimony
//38 - Testimony 1
//39 - Testimony 2