//Page Our Mission
.page-our-mission
  background: linear-gradient(180deg, rgba(237, 179, 178, 0.63) 0%, rgba(156, 199, 242, 0.78) 100%); //TODO pas tout à fait les bonnes couleurs
  h2, h3
    color: #E0474A
  header.hero
    background: none
    .content
      justify-content: center !important
      padding-top: 0px
      .hero-text
        position: absolute
        width: 50%
        top: 0
        left: 0
        margin-left: 1rem
      figure
        width: 85%
  .document-content
    .blocks
      display: flex;
      flex-wrap: wrap;
      row-gap: 2rem;
      .container
        width: 100%
      .block:nth-child(3), 
      .block:nth-child(4), 
      .block:nth-child(5), 
      .block:nth-child(6),
      .block:nth-child(8),
      .block:nth-child(9),
      .block:nth-child(10),
      .block:nth-child(11),
      .block:nth-child(13),
      .block:nth-child(14),
      .block:nth-child(18),
      .block:nth-child(19)
        width: 49%;
        display: inline-flex;
        align-content: space-between;
        flex-wrap: wrap;
        align-items: start
      .block:first-child
        text-transform: uppercase
        font-size: 2rem
        font-weight: 400
        line-height: 140%
      .heading.container:nth-child(2)
        h2
          width: 100%
      .block:nth-child(3),
      .block:nth-child(16)
        p
          line-height: 160%
          font-size: 2rem
          font-weight: 230
      .block:nth-child(4)
        padding-top: 25%
        .top
          margin-bottom: 1rem
          width: 75%
          h3.block-title
            font-size: 2rem
            line-heigth: 140%
        p
          font-weight: 400
        .notes
          color: #E0474A
          text-transform: uppercase
          font-weight: 400
          margin-top: 1rem
      .block:nth-child(6)
        display: flex
        ul
          display: block
      .block:nth-child(7),
      .block:nth-child(12)
        width: 100%
        margin-bottom: 0px
        .text
          width: 100%
          .top
            margin-bottom: 0px
            h3.block-title
              text-transform: none
              font-weight: 230
              line-height: 160%
              font-size: 2rem
      .block:nth-child(8),
      .block:nth-child(10)
        margin-top: 1rem
        .top 
          margin-bottom: 1rem
          h3.block-title
            font-size: 1.375rem
            font-weight: 400
            line-height: 160%
      .block:nth-child(14)
        padding-top: 10%
      .heading.container:nth-child(15),
      .heading.container:nth-child(20)
        margin-bottom: 0px
        h2
          width: 100%
          border-top: 0.0625rem solid #271A38
          border-bottom: 0.0625rem solid #271A38
          padding-top: 2.7rem
          padding-bottom: 2.7rem
        p
          line-height: 160%
          font-size: 1.7rem
          font-weight: 230
      .block:nth-child(16)
        .text
          width: 100%
      .block.block-datatable:nth-child(17)
        display: none
        .container
          width: 100%
          .top
            margin-bottom: 0px
            h3.block-title
              border-top: 0.0625rem solid #271A38
              border-bottom: 0.0625rem solid #271A38
              padding-top: 1.5rem
              padding-bottom: 1.5rem
              font-size: 2rem
              font-weight: 400
              line-height: 140%
          table
            border-collapse: separate !important
            border-spacing: 1rem 0rem !important;
            margin-left: -1rem;
            margin-right: -1rem;
            thead
              th
                font-size: 2rem;
                font-style: normal;
                font-weight: 400;
                line-height: 140%;
                text-transform: uppercase;
            td, th 
              width: 50%
              padding-top: 1.5rem
              padding-bottom: 1.5rem
            td 
              border-collapse: separate !important
              border-spacing: 1rem !important;
              border-right: 1px solid white;
      .block:nth-child(19)
        padding-top: 23%

//1 - By
//2 - Titre - WHAT DOES IT MEAN TO MAKE EDUCATION ACCESSIBLE?
//3 - Every year à gauche
//4 - A new perspective à droite
//5 - Over the following à gauche
//6 - 79% à droite
//7 - 1. A NEW AND DEEPER FOCUS
//8 - People with disabilities à gauche
//9 - 44% à droite
//10 - Women in tech à gauche
//11 - 26% à droite
//12 - 2. Evolving our impact assessment
//13 - We aim to develop a calculation formula à gauche
//14 - As a result of this new approach à droite
//15 - Titre - THE RISE OF APPRENTICESHIP
//16 - Beyond evolving our focus
//17 - ONLINE APPRENTICESHIPS OFFER SEVERAL BENEFITS - tableau
//18 - The acknowledge
//19 - This strategy
//20 - Titre - Our mission committee
//21 - Tableau des missions committee