/*** Common ***/
h1 
  color: #271A38
b, strong
    font-weight: 600

#main
    .document-content
      .toc-cta
        display: none !important

@include media-breakpoint-up(desktop)
    #main
        padding-top: 6rem
        padding-left: 10%
        padding-right: 10%

//Common - header
header#document-header
    html.is-scrolling-down:not(.has-menu-opened) &
        transform: translateY(-100%)
    html.has-menu-opened &
        nav
            height: 100vh

header#document-header
    nav
        .header-button
            display: flex
            align-items: center
        .logo img
         max-width: 12rem

header#document-header 
    .header-right-block
        display: inline-flex
        align-items: center
        .header-menu-langage
            display: inline-flex
            margin-right: 4rem
            align-items: center
            a
                text-decoration: none
            div 
                padding-left: 0.3rem
                padding-right: 0.3rem
        button.header-button
            span
                font-size: var(--body-size)

//Common - menu header + footer
.menu, #document-footer
    .nav-level-1
        display: grid
        grid-template-columns: repeat(4, 1fr)
        gap: 4rem
        justify-items: center
        justify-content: center
        > li.menu-block 
            width: 100%
            max-width: 256px
            height: 256px
            border-bottom: none !important
            > a
                padding: 0
                display: block
                text-decoration: none
            .menu-block-content
                width: 100%
                height: 100%
                .menu-block-title
                    display: flex
                    justify-content: center
                    align-items: center
                    padding-left: 1rem
                    padding-right: 1rem
                    width: 100%
                    height: 120px
                    text-align: center
                    color: #271A38
                    text-transform: uppercase
                    line-height: 140%
                    word-wrap: break-word
                    border-top: 0.0625rem solid #271A38
                img
                    width: 100%
                    height: 100%
                    max-height: 136px
                    max-width: 256px
                    display: flex
        > li:not(:last-child) 
            border-bottom: 1px solid #adb5bd
        > li
            > a, > span
                padding-bottom: $spacing-3
                padding-top: $spacing-3

//Menu - header
header#document-header .container
    height: 100%
.menu
    -webkit-flex-basis: 100vw
    display: none
    flex-basis: 100vw
    margin-top: $spacing-3
    max-height: var(--header-menu-max-height)
    overflow: auto
    &.is-opened
        display: flex
        flex-direction: column
        justify-content: space-between
        height: 100%
    .nav-level-1
        li.has-children
            [role="button"]
                align-items: center
                display: flex
                justify-content: space-between
                text-decoration: none
                @include icon(caret-bottom, after)
                    display: block
                &::after
                    line-height: 1
            .dropdown-menu
                display: none !important
                padding-top: 0
            [aria-expanded=true] + .dropdown-menu
                display: block
    .dropdown-menu
        padding-left: 0
    .is-titled
        .container
            padding-left: 0
            padding-right: 0
    .menu-bottom
        text-transform: uppercase
        display: flex
        justify-content: space-between
        width: 100%
        padding: 3rem 0rem

//Common - footer
#document-footer
    padding-left: 4rem
    padding-right: 4rem

//Common - all pages
header.hero
    background: none
.document-content
    .blocks
        width: 100%
        max-width: 100%
        .container
            width: 100%
            max-width: 100%
        .heading.container
            h2
                width: 100%
                border-top: 0.0625rem solid #BDB7CF
                border-bottom: 0.0625rem solid #BDB7CF
                padding-top: 1rem
                padding-bottom: 1rem
@include media-breakpoint-up(desktop)
    .document-content
        .blocks
            .heading.container
                h2
                    padding-top: 2.7rem
                    padding-bottom: 2.7rem

@include media-breakpoint-up(desktop)
    .document-content
        .blocks
            display: grid
            grid-template-columns: repeat(2, 50%)
            gap: 0
            width: 100%
            max-width: 100%
            .container
              width: 100%
              max-width: 100%
            .block:last-child
                padding-bottom: 12rem
