{{ $siteLang := . }}
{{- $ulClass := "" -}}
{{- if .class -}}
  {{- $ulClass = printf "%s " .class -}}
{{- end -}}
<ul class="{{ $ulClass }}nav-level-1">
  <li class="menu-block menu-foreword">
    {{ $url := "" }}
    <a href="/{{ site.Language }}">
      <div class="menu-block-content">
        <img src="/assets/images/menu_foreword.svg" />
        <div class="menu-block-title">
          {{ if eq site.LanguageCode "en" }}
            Foreword
          {{ else }}
            Préface
          {{ end }}
        </div>
      </div>
    </a>
  </li>
  <li class="menu-block menu-our-mission">
    <a href="/{{ site.Language }}/our-mission">
      <div class="menu-block-content">
        <img src="/assets/images/menu_our_mission.svg" />
        <div class="menu-block-title">
          {{ if eq site.LanguageCode "en" }}
            Our mission
          {{ else }}
            Notre mission
          {{ end }}
        </div>
      </div>
    </a>
  </li>
  <li class="menu-block menu-impacting-students">
    <a href="/{{ site.Language }}/impacting-students">
      <div class="menu-block-content">
        <img src="/assets/images/menu_impacting_students.svg" />
        <div class="menu-block-title">
          {{ if eq site.LanguageCode "en" }}
            Impacting students
          {{ else }}
            L'impact sur les étudiants
          {{ end }}
        </div>
      </div>
    </a>
  </li>
  <li class="menu-block menu-impacting-employers">
    <a href="/{{ site.Language }}/impacting-employers">
      <div class="menu-block-content">
        <img src="/assets/images/menu_impacting_employers.svg" />
        <div class="menu-block-title">
          {{ if eq site.LanguageCode "en" }}
            Impacting employers
          {{ else }}
            L’impact sur les employeurs
          {{ end }}
        </div>
      </div>
    </a>
  </li>
  <li class="menu-block menu-impacting-community">
    <a href="/{{ site.Language }}/impacting-our-community"> 
      <div class="menu-block-content">
        <img src="/assets/images/menu_impacting_community.svg" />
        <div class="menu-block-title">
          {{ if eq site.LanguageCode "en" }}
            Impacting our community
          {{ else }}
            L’impact sur notre communauté
          {{ end }}
        </div>
      </div>
    </a>
  </li>
  <li class="menu-block menu-impacting-planet">
    <a href="/{{ site.Language }}/impacting-our-planet">
      <div class="menu-block-content">
        <img src="/assets/images/menu_impacting_planet.svg" />
        <div class="menu-block-title">
          {{ if eq site.LanguageCode "en" }}
            Impacting our planet
          {{ else }}
            L’impact sur la planète
          {{ end }}
        </div>
      </div>
    </a>
  </li>
  <li class="menu-block menu-commitment-progress">
    <a href="/{{ site.Language }}/our-commitment-to-progress">
      <div class="menu-block-content">
        <img src="/assets/images/menu_commitment_progress.svg" />
        <div class="menu-block-title">
          {{ if eq site.LanguageCode "en" }}
            Our commitment to progress
          {{ else }}
            Nos engagements
          {{ end }}
        </div>
      </div>
    </a>
  </li>
  <li class="menu-block menu-making-off">
    <a href="/{{ site.Language }}/making-of/">
      <div class="menu-block-content">
        <img src="/assets/images/menu_making_off.svg" />
        <div class="menu-block-title">
          {{ if eq site.LanguageCode "en" }}
            Making of
          {{ else }}
            Making-of
          {{ end }}
        </div>
      </div>
    </a>
  </li>
</ul>
