{{ $primary := partial "GetMenu" "primary" }}

<header id="document-header">
  <nav aria-label="{{ i18n "commons.menu.main" }}">
    <div class="container">
      {{ partial "header/logo.html" }}
      <div class="header-right-block">
        {{ if (site.Params.menu.i18n.display) }}
          {{ partial "header/i18n.html" . }}
        {{ end }}
        {{ if $primary.items }}
          {{ partial "header/button.html" }}
        {{ end }}
      </div>
      {{ if $primary.items }}
        <div class="menu" id="navigation">
          {{ partial "commons/menu.html"
              (dict
                "kind" "primary"
                "dropdown" true
                "level" 1
                "context" .
              ) }}
          <div class="menu-bottom">
            {{ if eq site.LanguageCode "en" }}
              <a href="/assets/pdfs/MISSIONREPORT-24-UK.pdf" target="_blank">
                PDF (English version)
              </a>
            {{ else }}
              <a href="/assets/pdfs/RAPPORTDEMISSION-24-FR.pdf" target="_blank">
                PDF (version française)
              </a> 
            {{ end }}
            {{ if eq site.LanguageCode "en" }}
              <a href="https://openclassrooms.com/en/?utm_source=missionreport&utm_medium=referral&utm_campaign=referrer_missionreport_oc____no-study-field_230612_00" target="_blank">
                More information about OpenClassrooms
              </a>
            {{ else }}
              <a href="https://openclassrooms.com/fr/?utm_source=missionreport&utm_medium=referral&utm_campaign=referrer_missionreport_oc____no-study-field_230612_00" target="_blank">
                En savoir plus sur OpenClassooms
              </a>
            {{ end }}
          </div>
        </div>
      {{ end }}
    </div>
  </nav>
</header>
